{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "jest": true
    },
    "globals": {
        "document": true,
        "window": true,
        "Image": true,
        "expect": true
    }
}
